ENVIRONMENT='local'
POSTGRES_DB=task_manager_db
POSTGRES_PASSWORD=admin
POSTGRES_USER=admin
POSTGRES_PORT=5431
POSTGRES_HOST=127.0.0.1
AWS_SQS_REGION_NAME=sa-east-1
QUEUE_URL=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=